image: eclipse-temurin:17-jdk

stages:
  - test

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.caching=true"

.test_template: &test_template
  stage: test
  cache:
    key: "$CI_COMMIT_REF_SLUG-$CI_JOB_NAME"
    paths:
      - $API_PATH/.gradle/wrapper
      - $API_PATH/.gradle/caches
  script:
    - cd $API_PATH
    - chmod +x ./gradlew
    - ./gradlew clean check --info --stacktrace
  artifacts:
    when: always
    paths:
      - $API_PATH/build/reports/tests/test/
      - $API_PATH/build/jacocoHtml/
      - $API_PATH/build/reports/jacoco/test/jacocoTestReport.xml
      - $API_PATH/build/reports/jacoco/test/jacocoTestReport.csv
      - $API_PATH/build/test-results/test/*.xml
    reports:
      junit: $API_PATH/build/test-results/test/*.xml
      coverage_report:
        coverage_format: cobertura
        path: $API_PATH/build/reports/jacoco/test/jacocoTestReport.xml
    expire_in: 30 days

test:ecomm-api:
  <<: *test_template
  variables:
    API_PATH: "EcommAPI"
  coverage: '/Total.*?([0-9]{1,3})%/'

test:auth-api:
  <<: *test_template
  variables:
    API_PATH: "AuthAPI"
  coverage: '/Total.*?([0-9]{1,3})%/'